html, body {
    height: 100%;
    width:100%;
    
}

.top {
    position: fixed;
    display:flex;
    background-color:black;
    color: white;
    margin:0%;
    padding:0%;
    border: 1px;
    border-color: peachpuff;
    position: relative;

}

