
*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
    background-color: #ffffff;
    
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}

/*------blog-------*/
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0,.5);

}

.blog-container .blog-img{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 50px;
}



.blog-heading span {
    color: black;
    
}

.blog-redirect{
    display: flex;
    justify-content: right;
    padding-left: 75%;
    font-size: 15px;
}

.blog-information{
    text-align: left;
    display:contents;
    
}

.blog-information p{
    margin-bottom: 10px;
    
    padding-left: 25%;
    padding-right: 25%;
    
}

.blog-information h3{
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 25%;
    padding-right: 25%;
    text-decoration: underline;
    
}

.blog-information h4{
    margin-top: 0px;
    margin-bottom: 5px;
    padding-left: 25%;
    padding-right: 25%;
    
    
}

.blog-information ul li{
    display: list-item;
    list-style-type:disc;
    list-style-position: inside;
    
    padding-left: 10px;
    padding-right: 5px;
   
}

.blog-information img{
    
    
    padding-left: 25%;
    padding-right: 25%;
   
}

.serverless ul li{
    display: list-item;
    list-style-type:symbols(-);
    list-style-position: inside;
    padding-left: 25%;
    padding-right: 25%;
   
}

.blog-date {
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 0px;
    padding: 0px;
    display: inline-block;
    flex-direction: column;
}

.pros-cons{
    padding-left: 25%;
    padding-right: 25%;
    display: flex;
    
    
    
}
.pros-cons .benefits-heading{
    background: #9b9b9b;
    color: #ffffff;
}

.pros-cons .cons-heading {
    background: #9b9b9b;
    color: #ffffff;
}

.pros-cons .blog-information.cons {
    background: #ababab;
}

.pros-cons .benefits-container,
.pros-cons .cons-container {
    
    text-align: left;
    float: left;
    flex:50%;
    border:#9b9b9b solid .5px;

    
}